body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0d9cb;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.formulario {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

label, input {
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
    
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

.resultados {
    display: none;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

h1{
    margin-left: 10px;
}

table , th , td {
    border: 1px solid black;
    border-collapse: collapse;
}

th , td {
    padding: 15px;
    text-align: left;
}


.botonv{
    margin-top: 20px;
    margin-bottom: 20px;
}